:root {
    --primary-color: #e48241;
    --primary-bg: #F5F5DC;
    --secondary-color: #4CAF50;
    --secondary-bg: #f0f0f0;
    --header-border-color: #e2c092;
    --text-color: #000;
    --search-input-bg: #fff;
    --border-color: #ccc;
    --icon-color: #333;
    --padding-sm: 10px;
    --padding-md: 20px;
    --gap-sm: 5px;
    --gap-md: 10px;
}

/* Reset cơ bản để tránh các vấn đề hiển thị */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    max-width: 400px;
    margin: 50px 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(227, 139, 139, 0.1);
    /* background-color: var(--primary-bg); */
    background-color: var(--secondary-bg);
}

.form-label {
    font-weight: bold;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* f-flex: 1; */
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #d9733a;
}

.btn-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: --primary-color !important;
    border: none;
}