:root {
    --primary-color: #e48241;
    --primary-bg: #F5F5DC;
    --secondary-color: #4CAF50;
    --secondary-bg: #f0f0f0;
    --header-border-color: #e2c092;
    --text-color: #000;
    --search-input-bg: #fff;
    --border-color: #ccc;
    --border-color-2: #b0b0b0;
    --icon-color: #333;
    --padding: 10px;
    --gap: 10px;
    --font-size: 16px;
    --margin: 5px;
    --size-icon: 25px;
}

/* Reset cơ bản để tránh các vấn đề hiển thị */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg);
}

p {
    font-size: var(--font-size);
    margin: var(--margin);
}

/* CSS cho navigation bar */
.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    background-color: var(--primary-color);
    padding: var(--padding) 0;
    /* border-bottom: 1px solid var(--border-color); */
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Phần giỏ hàng, người dùng, menu, theo dõi đơn hàng, hỗ trợ trực tuyến */
.menu-wrapper,
.order-tracking,
.online-support {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
}


.icon {
    height: 25px;
}

.menu-wrapper {
    position: relative;
    /* Đặt vị trí tương đối để chứa menu con */
}

.side-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    /* Chiều rộng của menu */
    background-color: var(--primary-bg);
    /* border: 1px solid #ccc; */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 0.5s ease;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color-2);
}

.side-menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.side-menu li:hover {
    /* background-color: #f7f3e8; */
    background-color: var(--secondary-bg);
    /* Hiệu ứng hover cho các mục menu */
}

.side-menu .icon {
    font-size: 20px;
}

/* Hiệu ứng hiển thị khi hover vào wrapper */
.menu-wrapper:hover>.side-menu {
    display: block;
}

.order-tracking{
    border-right: 2px solid black;
}
@media screen and (max-width: 768px) {
    .p, .search-form-wrapper {
        display: none;
    } 
}